<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="192x192" href="/fontawesome/svgs/regular/laugh-squint.svg">
    <title>Error</title>
      <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <div class="content">
    <header class="center">
      <h1>Error</h1>
    </header>
    <section class="center">
      <p>{{ message }}</p>
      <p>{{ error }}</p>
    </section>
  </div>
  </body>
</html>
